header{
	text-align: center;
	
	padding: 10px;
	color: white;

}
footer{
	text-align: center;
    position: absolute;
	bottom: 10px;
	left: 100px;
	right: 100px;

}

body{
	font-family: 'Roboto Slab', serif;
	background: url("img/header.jpg") center center; 
	color: white;
	margin: 0;
	padding: 0;

}

.container{
	height: 330px;
	width: 1000px;
	position: absolute;
	top:50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
	background: rgba(255, 255, 255, 0.5);
	padding: 20px;
	border: 1px solid #08038C;
	box-shadow: 0 0 8px 3px #fff;
}

.title{
	padding-top: 20px;
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;
	color: #08038C;
}

.question{
	padding: 20px;
	font-size: 22px;
	background: #08038C;
	border-radius: 20px;
	margin: 10px 0 10px 0;
	color: #f6f6f6;
}

.option{
	width: 470px;
	display: inline-block;
	padding: 10px 0 10px 15px;
	vertical-align: middle;
	background: rgba(255, 255, 255, 0.5);
	margin: 10px 0 10px 10px;
	color: #000000;
	border-radius: 20px;
}

.option:hover{
	background: #08038C;
	color: #f6f6f6;
}

.next-btn{
	border: none;
	outline: none;
	background: rgba(255, 25, 255, 0.5);
	width: 100px;
	height: 35px;
	border-radius: 20px;
	cursor: pointer;
	float: right;
	margin: 10px;
}

.next-btn:hover{
	background: #08038C;
	color: #f6f6f6;
}

.result{
	height: 100px;
	text-align: center;
	font-size: 75px;
}

.option input:checked .option{
	background: #08038C;
	color: #000;
}
.select{
	font-size: 30px;
	background-color: #08038C;
	border-radius: 20px;
	padding: 10px;
	margin: 10px;
}

ul li{
	border-radius: 10px;
	padding: 10px;
	margin: 10px;	
	
	background-color: orange;
	size: 15px;
	align-items: center;
}
ul li a{
	color: white;
	text-decoration: none;

}
input[type='text'], input[type='password']{
	border-radius: 20px;
    height: 40px;
    border: 2px; 	
    width: 200px;
    text-align: center;

	   																									
}
input[type='text'], input[type='password']:focus
{
	border-radius: 20px;
    height: 40px;
    border: 2px; 	
    width: 350px;
    text-align: center;
    outline: none;

    																									
}

.btn{
	text-decoration: none;
			background-color: #575555;
			color: white;
			border-radius:20px;
			padding: 8px 35px;
			margin: 10px;
			border: 1px solid white;

}
.btn:focus{
	text-decoration: none;
			background-color: #575555;
			color: white;
			border-radius:20px;
			padding: 8px 35px;
			margin: 10px;
			border: 1px solid white;
			outline: none;
			width: 150px;
}
.btn:hover{
	text-decoration: none;
			background-color: #575555;
			color: white;
			border-radius:20px;
			padding: 8px 35px;
			margin: 10px;
			border: 1px solid white;
			outline: none;
			width: 150px;
}

.admin-table{
	width: 100vw;
	background: rgba(255, 255, 255, 0.1)
}

.admin-table__header{
	text-align: center;
	background: rgba(247,247,247,.6);
}

.admin-table__heading{
	padding: 1rem;
}

.admin-table__data{
	text-align: center;
	padding: 1rem;
}

.admin-table__row{
	transition: all .2s;
}


.admin-table__row:hover{
	background: rgba(247,247,247,.6);
	color: black;
}

.delete-btn:hover{
	background: rgba(247,247,247,1);
	color: black;
}










